{% extends "base.html" %}
{% load static %}
{% block page_content %}
<h1>Projects</h1>
<div class="row">
{% for project in projects %}
    <div class="col-md-4">
        <div class="col-lg-4 d-flex align-items-stretch">
            <img class="card-img-top" src="{% static project.image %}">
            <div class="card-body">
                <h5 class="card-title">{{ project.title }}</h5>
                <p class="card-text">{{ project.description }}</p>
                <a href="{% url 'project_detail' project.pk %}"
                   class="btn btn-primary">
                   {% if project.title == "Projects Portfolio" %}
                    Prog It
                   {% elif project.title == "Blog Tutorial" %}
                    Blog It
                   {% elif project.title == "Training Log" %}
                    Log It
                   {% endif %}
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
